@import "tailwindcss";

:root {
  --padding-inline: 8vw;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Tik Tok Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

button {
  cursor: pointer;
}
