---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <div class="wrapper">
      <h1 class="error-title">404 Not route found!</h1>
      <p>This route do not exists go back.</p>
    </div>
  </div>
</Layout>

<style scoped>
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wrapper {
    padding-inline: var(--padding-inline);
  }

  .error-title {
    font-weight: 900;
    font-size: 4.5rem;
  }
</style>
