---
import Layout from "../layouts/Layout.astro";
import { Content as Description, frontmatter } from "../content/Home.md";
import HomeBtns from "../component/HomeCTA";
---

<Layout>
  <main class="container">
    <div class="wrapper">
      <div class="description-wrapper">
        <h1 class="header-title">{frontmatter.title}</h1>
        <Description />
      </div>
      <HomeBtns client:load />
    </div>
  </main>
</Layout>

<style scoped>
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .wrapper {
    padding-inline: var(--padding-inline);
    width: 100%;
  }

  .description-wrapper {
    width: 55%;
  }

  .header-title {
    font-weight: 900;
    font-size: 4.5rem;
  }

  @media (max-width: 768px) {
    .header-title {
      font-size: 3.5rem;
      line-height: 1;
    }

    .description-wrapper {
      width: 100%;
      text-align: justify;
    }
  }
</style>
